#current-room {
    display: flex;
    justify-content: center;
}

.choice {
    display: flex;
    justify-content: center;
}
.button1,
.button2,
.button3 {
    margin: 10px;
}
.option-description {
    margin: 20px;
}
