html {
    text-align: center;
    padding-top: 250px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
p {
    padding-top: 15px;
}
#restartButton {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none; /* Initially hide the restart button */
        }
